.MainLayout{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainLayout-content{
    background-color: white;
    width: 80%;
    height: 80%;
}